@{
    // View
    View = this;

    // Check action result
    if (user2Edit.ActionResult is EmptyResult) // Terminate page
        return;

    // Layout
    Layout = user2Edit.UseLayout ? "_Layout" : "";
}
@user2Edit.ShowPageHeader()
@user2Edit.ShowMessages()
<main class="edit">
<form name="fuser2edit" id="fuser2edit" class="@(user2Edit.FormClassName)" action="@AppPath(CurrentPageName())" method="post" novalidate autocomplete="off">
<script>
var currentTable = @Html.Raw(ConvertToJson(user2Edit.ToClientVar()));
ew.deepAssign(ew.vars, { tables: { user2: currentTable } });
var currentPageID = ew.PAGE_ID = "edit";
var currentForm;
var fuser2edit;
loadjs.ready(["wrapper", "head"], function () {
    let $ = jQuery;
    let fields = currentTable.fields;

    // Form object
    let form = new ew.FormBuilder()
        .setId("fuser2edit")
        .setPageId("edit")

        // Add fields
        .setFields([

            ["id", [fields.id.visible && fields.id.required ? ew.Validators.required(fields.id.caption) : null], fields.id.isInvalid],
            ["_username", [fields._username.visible && fields._username.required ? ew.Validators.required(fields._username.caption) : null], fields._username.isInvalid],
            ["password", [fields.password.visible && fields.password.required ? ew.Validators.required(fields.password.caption) : null], fields.password.isInvalid],
            ["_userlevel", [fields._userlevel.visible && fields._userlevel.required ? ew.Validators.required(fields._userlevel.caption) : null], fields._userlevel.isInvalid]
        ])

        // Form_CustomValidate
        .setCustomValidate(
            function(fobj) { // DO NOT CHANGE THIS LINE!
                    // Your custom validation code here, return false if invalid.
                    return true;
                }
        )

        // Use JavaScript validation or not
        .setValidateRequired(ew.CLIENT_VALIDATE)

        // Dynamic selection lists
        .setLists({
            "_userlevel": @Html.Raw(user2Edit._userlevel.ToClientList(user2Edit)),
        })
        .build();
    window[form.id] = form;
    currentForm = form;
    loadjs.done(form.id);
});
</script>
<script>
loadjs.ready("head", function() {
    // Write your client script here, no need to add script tags.
});
</script>
@if (CurrentPage?.CheckToken ?? false) {
    <input type="hidden" name="@Config.TokenNameKey" value="@Config.TokenName"><!-- CSRF token name -->
    @Html.AntiForgeryToken()
}
<input type="hidden" name="action" id="action" value="update">
<input type="hidden" name="modal" value="@ConvertToInt(user2Edit.IsModal)">
@if (IsJsonResponse()) {
<input type="hidden" name="json" value="1">
}
<input type="hidden" name="@(user2Edit.OldKeyName)" value="@Html.Raw(user2Edit.OldKey)">
<div class="ew-edit-div"><!-- page* -->
@if (user2Edit.id.Visible) { // user2Edit.id.Visible (begin)
    <div id="r_id" @Html.Raw(user2Edit.id.RowAttributes)>
        <label id="elh_user2_id" class="@(user2Edit.LeftColumnClass)">@Html.Raw(user2Edit.id.Caption)@Html.Raw(user2Edit.id.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(user2Edit.RightColumnClass)"><div @Html.Raw(user2Edit.id.CellAttributes)>
<span id="el_user2_id">
<span @Html.Raw(user2Edit.id.ViewAttributes)>
<input type="text" readonly class="form-control-plaintext" value="@Html.Raw(RemoveHtml(ConvertToString(user2Edit.id.EditValue)))"></span>
<input type="hidden" data-table="user2" data-field="x_id" data-hidden="1" name="x_id" id="x_id" value="@Html.Raw(HtmlEncode(user2Edit.id.CurrentValue))">
</span>
</div></div>
    </div>
} @* user2Edit.id.Visible (end) *@
@if (user2Edit._username.Visible) { // user2Edit._username.Visible (begin)
    <div id="r__username" @Html.Raw(user2Edit._username.RowAttributes)>
        <label id="elh_user2__username" for="x__username" class="@(user2Edit.LeftColumnClass)">@Html.Raw(user2Edit._username.Caption)@Html.Raw(user2Edit._username.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(user2Edit.RightColumnClass)"><div @Html.Raw(user2Edit._username.CellAttributes)>
<span id="el_user2__username">
<input type="@(user2Edit._username.InputTextType)" name="x__username" id="x__username" data-table="user2" data-field="x__username" value="@Html.Raw(user2Edit._username.EditValue)" size="30" maxlength="256" placeholder="@Html.Raw(HtmlEncode(user2Edit._username.PlaceHolder))" data-format-pattern="@(user2Edit._username.FormatPattern)"@Html.Raw(user2Edit._username.EditAttributes) aria-describedby="x__username_help">
@Html.Raw(user2Edit._username.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(user2Edit._username.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* user2Edit._username.Visible (end) *@
@if (user2Edit.password.Visible) { // user2Edit.password.Visible (begin)
    <div id="r_password" @Html.Raw(user2Edit.password.RowAttributes)>
        <label id="elh_user2_password" for="x_password" class="@(user2Edit.LeftColumnClass)">@Html.Raw(user2Edit.password.Caption)@Html.Raw(user2Edit.password.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(user2Edit.RightColumnClass)"><div @Html.Raw(user2Edit.password.CellAttributes)>
<span id="el_user2_password">
<div class="input-group">
    <input type="password" name="x_password" id="x_password" autocomplete="new-password" data-field="x_password" value="@(user2Edit.password.EditValue)" size="30" maxlength="256" placeholder="@(HtmlEncode(user2Edit.password.PlaceHolder))"@Html.Raw(user2Edit.password.EditAttributes) aria-describedby="x_password_help">
    <button type="button" class="btn btn-default ew-toggle-password rounded-end" data-ew-action="password"><i class="fa-solid fa-eye"></i></button>
</div>
@Html.Raw(user2Edit.password.GetCustomMessage)
<div class="invalid-feedback">@Html.Raw(user2Edit.password.GetErrorMessage())</div>
</span>
</div></div>
    </div>
} @* user2Edit.password.Visible (end) *@
@if (user2Edit._userlevel.Visible) { // user2Edit._userlevel.Visible (begin)
    <div id="r__userlevel" @Html.Raw(user2Edit._userlevel.RowAttributes)>
        <label id="elh_user2__userlevel" for="x__userlevel" class="@(user2Edit.LeftColumnClass)">@Html.Raw(user2Edit._userlevel.Caption)@Html.Raw(user2Edit._userlevel.Required ? Language.Phrase("FieldRequiredIndicator") : "")</label>
        <div class="@(user2Edit.RightColumnClass)"><div @Html.Raw(user2Edit._userlevel.CellAttributes)>
@if (!Security.IsAdmin && Security.IsLoggedIn) { // Non system admin
<span id="el_user2__userlevel">
<span class="form-control-plaintext">@Html.Raw(user2Edit._userlevel.DisplayValue(user2Edit._userlevel.EditValue))</span>
</span>
} else {
<span id="el_user2__userlevel">
    <select
        id="x__userlevel"
        name="x__userlevel"
        class="form-select ew-select@(user2Edit._userlevel.IsInvalidClass)"
        data-select2-id="fuser2edit_x__userlevel"
        data-table="user2"
        data-field="x__userlevel"
        data-value-separator="@(user2Edit._userlevel.DisplayValueSeparatorAttribute)"
        data-placeholder="@(HtmlEncode(user2Edit._userlevel.PlaceHolder))"
        @Html.Raw(user2Edit._userlevel.EditAttributes)>
        @(user2Edit._userlevel.SelectOptionListHtml("x__userlevel"))
    </select>
    @Html.Raw(user2Edit._userlevel.GetCustomMessage)
    <div class="invalid-feedback">@Html.Raw(user2Edit._userlevel.GetErrorMessage())</div>
<script>
loadjs.ready("fuser2edit", function() {
    var options = { name: "x__userlevel", selectId: "fuser2edit_x__userlevel" },
        el = document.querySelector("select[data-select2-id='" + options.selectId + "']");
    if (!el)
        return;
    options.closeOnSelect = !options.multiple;
    options.dropdownParent = el.closest("#ew-modal-dialog, #ew-add-opt-dialog");
    if (fuser2edit.lists._userlevel?.lookupOptions.length) {
        options.data = { id: "x__userlevel", form: "fuser2edit" };
    } else {
        options.ajax = { id: "x__userlevel", form: "fuser2edit", limit: ew.LOOKUP_PAGE_SIZE };
    }
    options.minimumResultsForSearch = Infinity;
    options = Object.assign({}, ew.selectOptions, options, ew.vars.tables.user2.fields._userlevel.selectOptions);
    ew.createSelect(options);
});
</script>
</span>
}
</div></div>
    </div>
} @* user2Edit._userlevel.Visible (end) *@
</div><!-- /page* -->
@{ user2Edit.CloseRecordset(); }
@Html.Raw(user2Edit.IsModal ? "<template class=\"ew-modal-buttons\">" : "<div class=\"row ew-buttons\">")<!-- buttons .row -->
    <div class="@(user2Edit.OffsetColumnClass)"><!-- buttons offset -->
    <button class="btn btn-primary ew-btn" name="btn-action" id="btn-action" type="submit" form="fuser2edit">@Html.Raw(Language.Phrase("SaveBtn"))</button>
@if (IsJsonResponse()) {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" data-bs-dismiss="modal">@Html.Raw(Language.Phrase("CancelBtn"))</button>
} else {
    <button class="btn btn-default ew-btn" name="btn-cancel" id="btn-cancel" type="button" form="fuser2edit" data-href="@AppPath(user2Edit.ReturnUrl)">@Html.Raw(Language.Phrase("CancelBtn"))</button>
}
    </div><!-- /buttons offset -->
@Html.Raw(user2Edit.IsModal ? "</template>" : "</div>")<!-- /buttons .row -->
</form>
</main>
@user2Edit.ShowPageFooter()
@Html.Raw(GetDebugMessage())
@ElapsedTime()
<script>
// Field event handlers
loadjs.ready("head", function() {
    ew.addEventHandlers("user2");
});
</script>
<script>
loadjs.ready("load", function() {
    // Write your table-specific startup script here
    // document.write("page loaded");
});
</script>
